[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest
[submodule "ToyboxDependencies"]
	path = ToyboxDependencies
	url = https://github.com/Yostarduck/ToyboxDependencies.git
